<main>
  <link rel="stylesheet" href="css/gerente.css" />
  <div class="backgroundCinza">
    <h1 class="title">Relatório Semanal dos Alunos</h1>
    <div class="container">
      <div class="row">
        {{#each alunos}}
        <div class="product-card">
          <div class="card">
            <div class="text-content">
              <p><strong>Matrícula:</strong> {{MATRICULA}}</p>
              <p><strong>Nome:</strong> {{NOME}}</p>
              
              {{#if HORAS_SEMANAIS}}
                <p><strong>Horas treinadas:</strong> {{HORAS_SEMANAIS}}</p>
              {{else}}
                <p><strong>Horas treinadas:</strong> Não informado</p>
              {{/if}}

              {{#if CLASSIFICACAO_SEMANAL}}
                <p><strong>Classificação:</strong> {{CLASSIFICACAO_SEMANAL}}</p>
              {{else}}
                <p><strong>Classificação:</strong> Não informada</p>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>
